@media (max-width: 1120px){
    .cabecalho .logo-valorant{
        max-width: 190px;
    }
    selecao-de-agentes{
        flex-direction: column-reverse;
        margin: 0 auto;
    }

    .selecao-de-agentes .agentes{
            margin-top: 15px;
    }

    .selecao-de-agentes .agentes .titulo{
            font-size: 15px;
    }

    .selecao-de-agentes .lista-de-agentes{
        gap: 9px;
    }

    .selecao-de-agentes .agente img{
        width: 80px;
    }

    .agente-selecionado .agente-grande{
        width: 350px;
        height: 350px;
    }

    .agente-selecionado .descricao-agente{
    width: 80%;
    font-size: 16px;
    margin: 20px auto;
    }

}